@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff");
  font-style: normal;
  font-weight: 800;
}
*,
::after,
::before {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #76926A;
  margin: 0;
  font-weight: 400;
  color: #000000;
  font-family: "Montserrat";
}

h1, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  margin: 0 auto;
  background-color: #76926A;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  overflow: hidden;
}
.section:first-of-type {
  background-image: url("../img/white-line.svg");
  background-size: 100%;
  padding: 17px 0 0 0;
  background-position-y: 45%;
}
.section:first-of-type::before {
  content: url("../img/left-item.svg");
  position: absolute;
  left: 0;
  top: 65%;
}
.section:first-of-type::after {
  content: url("../img/right-item.svg");
  position: absolute;
  right: 0;
  top: 6%;
}
.section:nth-of-type(2)::after {
  content: url("../img/right-item-practice.svg");
  position: absolute;
  right: 0;
  top: 12%;
}

.container {
  margin: 0 auto;
  width: 95%;
  background-color: #ffffff;
}

.title {
  font-family: "Montserrat";
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
}
.title--intro {
  padding: 22px 19px 17px 19px;
}
.title--white {
  color: #ffffff;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}
.title--white::before {
  content: url("../img/blue.svg");
  position: absolute;
  top: -4px;
  left: 10px;
  z-index: -1;
}
.title--white::after {
  content: url("../img/yellow.svg");
  position: absolute;
  right: 0;
  bottom: -15px;
}
.title--red {
  color: #F78C6B;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
.text__block {
  padding: 0 15px 30px 15px;
  position: relative;
}
.text__block::after {
  content: url("../img/right-item.svg");
  position: absolute;
  right: -15px;
  top: 75%;
}
.text--white {
  color: #ffffff;
}
.text--practic {
  margin-bottom: 35px;
}
.text--italic {
  font-style: italic;
}
.text--green {
  color: #76926A;
}
.text--bold {
  font-weight: 700;
}
.text--intro {
  padding-right: 16px;
}
.text--triangles {
  position: relative;
}
.text--triangles::after {
  content: "";
  background-image: url("../img/green-triangles.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 7px;
  right: 130px;
  display: flex;
  flex: 0 0 auto;
  width: 37px;
  height: 15px;
}
.text--why {
  margin-top: 40px;
}
.text--arrow {
  display: flex;
  align-items: center;
}
.text--arrow::before {
  content: "";
  background-image: url("../img/red-arrows.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex: 0 0 auto;
  width: 16px;
  height: 15px;
  margin-right: 12px;
}
.text--reasons {
  margin-left: 26px;
}
.text--question {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text--question::before {
  content: "";
  background-image: url("../img/red-question.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex: 0 0 auto;
  width: 31.2px;
  height: 29.49px;
  margin-right: 8px;
  margin-left: -10px;
}
.text--margintop {
  margin-top: 20px;
}
.text--footer {
  color: #ffffff;
  width: 202px;
  line-height: 20px;
}
.text--quote {
  width: 44%;
  color: #ffffff;
  padding: 13px 0 22px 0;
  line-height: 20px;
}
.text--w {
  display: flex;
  align-items: center;
}
.text--w::after {
  content: "";
  background-image: url("../img/w-item.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex: 0 0 auto;
  width: 32.55px;
  height: 10.93px;
  margin-left: auto;
}

.reasons {
  margin-top: 20px;
}

.practic {
  background: #EEEEED;
  padding: 30px 30px 100px 15px;
  position: relative;
}
.practic__inner {
  margin-top: 10px;
}
.practic__img {
  display: block;
  width: 202px;
  height: 119px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.images {
  background-color: #ffffff;
}
.images__inner--item {
  border-top: 1px #76926A solid;
  padding: 20px 0;
}
.images__img {
  display: block;
  width: 100%;
}
.images__bottom {
  padding: 27px 15px 34px 15px;
}

.button {
  font-family: "Montserrat";
  display: block;
  margin: 0 auto;
  background: #B9DDE7;
  cursor: pointer;
}
.button--buy {
  height: 51px;
  font-size: 14px;
  padding: 19px 0;
  text-align: center;
  width: 100%;
  border-radius: 45px;
  border: none;
  font-weight: 400;
  position: relative;
}
.button--buy::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 90px;
  z-index: -1;
  border: 1px #ffffff solid;
  background-color: #252B31;
}
.button--buy:hover {
  background-color: #FDF571;
  transition: 0.2s linear;
  color: #252B31;
}

.buy__form {
  display: block;
  margin: 30px auto 40px auto;
}
.buy__input {
  display: block;
  width: 100%;
  height: 51px;
  border-radius: 45px;
  border: 1px #FDF571 solid;
  padding: 19px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  outline: none;
}

.footer {
  background-color: #76926A;
  padding: 30px 0 20px 0;
  position: relative;
}
.footer__img {
  display: block;
  width: 171px;
  height: 226px;
  position: absolute;
  bottom: 0;
  right: -15px;
}
.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #EDFFC7;
}
.footer__link:hover {
  color: #ffffff;
  transition: 0.2s linear;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .container {
    max-width: 290px;
    width: 100%;
  }

  .text--quote {
    width: 141px;
    color: #ffffff;
    padding: 13px 0 22px 0;
    line-height: 20px;
  }
}